<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>

<% if @trainer.id == current_trainer.id %>
  <%= button_to "Create a New Pokemon", trainers_pokemons_new_path, :class => "button medium", :method => :get%>
<% end %>
<br/>

<% if @trainer.name %>
  <h3><%= @trainer.name if @trainer.name %>'s Pokemon</h3>
<% else %>
  <h3>Trainer <%= @trainer.id if @trainer.id %>'s Pokemon</h3>
<% end %>
<% @trainer.pokemons.each do |pokemon| %>
  <% if pokemon.ndex %>
    <%= image_tag("pokemon/#{pokemon.ndex}.png", alt: "pokemon") %>
  <% end %>
  <div>Pokemon name: <%= pokemon.name %> </div>
  <div>Pokemon level: <%= pokemon.level %> </div>
  <p>Pokemon health: <%= pokemon.health %> </p>
  <%= button_to "Damage #{pokemon.name}!", damage_path(id: pokemon), :class => "button small", :method => :patch %>
  <br/>
<% end %>
